body { /* Johan */
  background-color: #424549;
  color: #7289da;
  margin: 0;
  min-height: 99.7vh;
  max-width: 100vw;
}
.wrapper{ /* Markus */
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  grid-template-rows: 70px 3.1em auto auto; /* osäker om det kan vara em där i mellan /Markus Det borde inte vara någa problem /johan*/
  grid-template-areas: 
  "header"
  "nav"
  "main"
  "footer"
}

header { /* Johan */
  background-color: #282b30;
  grid-area: header;

}

h1{ /*Johan*/
  margin: 10px;
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #462aa8 0%,
    #6019ac 25%,
    #ff1361 50%,
    #fff800 75%,
    #462aa8 100%
  );
 
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s linear infinite;
  display: inline-block;
}
@keyframes textclip { /*Johan*/
  to {
    background-position: 200% center;
  }
}
nav{ /* Markus */
  grid-area: nav;
  width: 100%;
  height: 100%;
}
header nav ul{ /* Markus */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 3.1em;
  border: solid;
}
nav ul{ /* Johan */
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 3.1em;
  margin-top: -1px;
}
nav li{ /* Markus */
  list-style-type: none;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
nav a{ /* Markus */
  color: #7289da;
  font-size: large;
  border-style: solid;
  padding: 0.5em;
  border-radius: 10%;
  transition-duration: 0.5s;
}
a{ /* Markus */
  text-decoration: none;
}
nav a:hover{ /* Markus */ 
  border-style: solid;
  font-size: 120%;
  padding: 0.5em;
  border-radius: 10%;
  background-color:#333538;
  background-image: linear-gradient(
    -225deg,
    #fff 0%,
    #7289da 20%,
    #fff 50%,
    #7289da 70%,
    #fff 100%
  );
  background-size: 200% auto;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s linear infinite;
  transition: 0.5s ;
}
main{
  font-weight: bold ;
  font-size: 20px;
  gap: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:auto auto auto;
  grid-template-areas: 
    "text bild"
    "text bild"
    "text bild";
}
.text{
  display: block;
  margin: auto;
}
.bild{
  display: block;
  margin: auto;
}
.bild img{
  width: 1000px;
  height: auto;
}
footer{ /* Markus */
  grid-area: footer;
  text-align: center;
  position: absolute;
  bottom: 0;
  margin: 0;
  width:87.1em;
  height: auto;
  border-style: solid;
  font-size: 120%;
}
